---
import type { GetStaticPaths, Page } from 'astro'
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import PostCardImage from '@components/PostCardImage.astro'
import Layout from '@layouts/Layout.astro'
import { POSTS_CONFIG } from '@consts'
import { postsSort } from '@lib/utils'
import Pagination from '@components/Pagination.astro'
import PostCardSimple from '@components/PostCardSimple.astro'

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const allPosts = await getCollection('posts')
  const sortedPosts = postsSort(allPosts)

  return paginate(sortedPosts, {
    pageSize: POSTS_CONFIG.postsPageSize,
  })
}

interface Props {
  page: Page<CollectionEntry<'posts'>>
}

const { page } = Astro.props
---

<Layout title="Posts" description="Posts">
  <div class="relative z-[1]">
    <div class="py-8 pb-10 px-8">
      <h1 class="tracking-tight text-5xl bg-gradient-to-r from-primary to-primary/70 bg-clip-text text-transparent">Posts</h1>
      <div class="pro text-muted-foreground text-balance">
        <p class="mt-2">Here, I will share the usage instructions for this theme to help you quickly use it.</p>
      </div>

      <div class="mt-12 space-y-16">
        {
          page.data.map((post, index) => {
            return POSTS_CONFIG.enableImage ? <PostCardImage post={post} index={index} /> : <PostCardSimple post={post} />
          })
        }
      </div>

      <Pagination {page} />
    </div>
  </div>
</Layout>
