---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Posts" description="Posts">
  <div class="relative z-[1]">
    <div class="py-8 pb-10 px-8">
      <h1 class="tracking-tight text-5xl">Posts</h1>
      <div class="pro text-muted-foreground text-balance">
        <p class="mt-1">
          Here, I will take notes on front-end development techniques and some
          things of interest.
        </p>
      </div>
    </div>
  </div>
</Layout>
