@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@iconify/tailwind4";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-border: hsl(var(--border));

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
}

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 240 10% 3.9%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --border: 240 5.9% 90%;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --border: 240 3.7% 15.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply min-h-screen bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium! tracking-tight;
  }
  a {
    @apply underline-offset-4;
  }
  .pro {
    @apply prose prose-zinc dark:prose-invert;
  }
  html {
    color-scheme: light;
    background-color: var(--color-background);
    font-family: "CJKEmDash", "Nubmers", "Onest", "ShangguSansSCVF", sans-serif;
    @variant dark {
      color-scheme: dark;
    }
  }
}

@layer base {
  @font-face {
    font-family: "Nubmers";
    unicode-range: U+0030-0039;
    src: url("/fonts/Geist[wght].woff2") format("woff2");
  }

  @font-face {
    font-family: "Onest";
    src: url("/fonts/Onest[wght].woff2") format("woff2");
  }

  @font-face {
    font-family: "ShangguSansSCVF";
    src: url("/fonts/ShangguSansSC-VF.ttf") format("ttf");
  }

  @font-face {
    font-family: "CJKEmDash";
    unicode-range: U+2014, U+2E3A-2E3B;
    src: url("/fonts/ZhudouSansVF-subset.woff2") format("woff2");
  }
}
