---
import { HEADER_LINKS } from '~/config'
import HeaderLink from './HeaderLink.astro'
---

<div id="mobile-menu" class="fixed inset-0 z-50 bg-background/80 backdrop-blur-lg hidden">
  <nav class="flex flex-col items-center justify-center h-full gap-4">
    {
      HEADER_LINKS.map((link) => (
        <a href={link.url} class="text-2xl">
          {link.name}
        </a>
      ))
    }
  </nav>
</div>
