---
import { HEADER_LINKS } from "@consts";
import ThemeToggle from "@components/ThemeToggle.tsx";
import HeaderLink from "@components/HeaderLink.astro";
import HeaderGradient from "@components/HeaderGradient.tsx";
import SectionDivider from "@components/SectionDivider.tsx";
---

<HeaderGradient />
<header>
  <div class="mx-auto max-w-3xl flex justify-between px-8 py-4 lg:px-8">
    <div class="flex gap-6 items-center">
      <a href="/" class="pointer-events-auto select-none">
        <svg class="size-7 fill-current">
          <use href="/favicon.svg#logo"></use>
        </svg>
      </a>
      <div class="flex gap-2 sm:flex">
        {
          HEADER_LINKS.map((link) => (
            <HeaderLink href={link.url} background>
              {link.name}
            </HeaderLink>
          ))
        }
      </div>
    </div>
    <div class="flex gap-2 items-center">
      <ThemeToggle client:idle />
    </div>
  </div>
</header>
<div class="relative max-w-3xl mx-auto pointer-events-none">
  <div aria-hidden="true" class="absolute inset-x-0 -top-14 bottom-0 mx-auto max-w-3xl">
    <div class="to-(--color-border)/50 absolute bottom-0 left-0 top-0 w-px bg-gradient-to-b from-transparent to-75%"></div>
    <div class="to-(--color-border)/50 absolute bottom-0 right-0 top-0 w-px bg-gradient-to-b from-transparent to-75%"></div>
  </div>
</div>
<SectionDivider />
