---
import "@styles/global.css";
import { SITE } from "@consts";
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";

type Props = {
  title: string;
  description: string;
  image?: string;
};

const { title, description, image }: Props = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <Head title={`${title} | ${SITE.title}`} description={description} image={image} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <div class="pointer-events-none bg-white dark:bg-black fixed bottom-0 left-0 h-28 [mask-image:linear-gradient(transparent,#000000)] w-full" />
  </body>
</html>
