---
import '~/styles/global.css'
import '~/styles/markdown.css'
import '~/styles/lqip.css'
import { SITE } from '~/config'
import Head from '~/components/base/Head.astro'
import BottomNav from '~/components/base/BottomNavigation.astro'
import Header from './Header.astro'
import Footer from './Footer.astro'
import HeaderGradient from '~/components/theme/HeaderGradient.astro'
import { FlickeringGrid } from '~/components/magicui/flickering-grid'

type Props = {
  title: string
  description: string
  image?: string
}

const { title, description, image }: Props = Astro.props
---

<!doctype html>
<html lang={SITE.lang}>
  <head>
    <Head title={`Mobile Developer | ${SITE.title}`} {description} {image} />
  </head>
  <body class="flex flex-col">
    <!-- <Header /> -->
    <HeaderGradient />
    <div class="absolute inset-0 top-0 left-0 right-0 h-25 overflow-hidden z-0">
      <FlickeringGrid
        client:load
        className="h-full w-full"
        squareSize={2}
        gridGap={2}
        style={{
          maskImage: "linear-gradient(to bottom, black, transparent)",
          WebkitMaskImage: "linear-gradient(to bottom, black, transparent)",
        }}
      />
    </div>
    <div class="grow flex relative z-10">
      <main class="relative max-w-3xl mx-auto grow min-w-0 pt-12 pb-20">
        <slot />
      </main>
    </div>
    <!-- <Footer /> -->
    <BottomNav />
    <!-- <div
      class="pointer-events-none fixed bottom-0 left-0 h-28 w-full z-50 bg-background [mask-image:linear-gradient(transparent,hsl(var(--background)))]"
    > -->
  </body>
</html>
